<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="front/toolbar :: head">
<meta charset="utf-8">
</head>
<body>
<div th:insert="front/toolbar :: toolbar">
</div>

<br>
<ins>
<div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px; color: rgb(41, 96, 47);" class="">로그인</div>
</ins>
<br>
<div align="center">
<input type="text" data-min-width="60" data-min-height="30" data-text-content="true" value="Username" style="color: rgb(94, 94, 94); border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(204, 204, 204);" class="">
</div>
<br>
<div align="center">
<input type="password" data-min-width="60" data-min-height="30" data-text-content="true" value="0000" style="color: rgb(94, 94, 94); border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(204, 204, 204);" class="">
</div>
<br>
<div align="center">
<div align="center" data-text-content="true" style="font-size: 17px; color: rgb(255, 255, 255); text-align: center; line-height: 2.5em; border-radius: 4px; background-color: rgba(241, 196, 15, 0.71);  width: 300px; height: 40px;" class="">로그인</div>
</div>
<br>
<div align="center">
<div align="center" data-text-content="true" style="font-size: 17px; color: rgb(64, 64, 64); text-align: center; line-height: 2.5em; border-radius: 4px; background-color: rgba(224, 224, 224, 0.71);  width: 300px; height: 40px;" class="">회원가입</div>
</div>
</body>
</html>